$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3";

$default-text-shadow-color: black;
$default-text-shadow-blur: 15px;
$default-text-shadow-v-offset: 5px;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.jumbotron {
    background: url('../images/jumbotron.jpg') center no-repeat;
    background-size: cover;
}

#logo {
    width: 300px;
}

.row { margin-top: 15px; }

.sponsor img { padding : 5px; }

#contact { margin-top: 40px;}

.anchor {
    padding-top: 40px;
    margin-top: -40px;
}
